{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock title %}

{% block content %}
<style>
/* Login page styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color for submit button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
}

a {
    color: #007bff; /* Blue color for link */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline link on hover */
}
</style>

<div class="container">
    <h1>Login to your account or <a href="{% url 'users:register' %}">create new</a></h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
